@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400..800&display=swap');

/* reset style */
body, div, fieldset, h1, h2, h3, h4, ul, ol, li, dl, dt, dd, p{
    padding: 0;
    margin: 0;
    font-family: "Wix Madefor Display", "Noto Sans KR", "돋움", dotum, sans-serif;
    text-decoration: none;
}

ul, ol, li{
    list-style: none;
}

/* h1, h2, h3, h4, strong{
    font-weight: normal;
} */

address, em{
    font-style: normal;
}

fieldset{
    border: 0 none;
}

a{
    text-decoration: none;
    color: #666; /*  */
}

a:hover{
    text-decoration: none;
    color: #666; /*  */
}

button{
    cursor: pointer;
}

/* base style */
body{
    font-size: 16px; /*  */
}

h1, h2, h3, h4{
    font-size: 100%;
}

/* header */
#header{
    width: 100%; height: 100px;
    display: flex;
    position: fixed;
    box-sizing: border-box;
    padding: 0 4vW;
    z-index: 1000;
}
#header .logo{
    width: 20%;
}
#header .logo img{
    margin-top: 15px; width: 130px;
}
.right-box{display: flex; margin-left: auto; align-items: center;margin-top: 8px;}
.right-box .language{margin-right: 30px;}
.right-box > .language ul{display: flex; align-items: center;    margin-top: -8px;}
.right-box > .language ul > li{position: relative; box-sizing: border-box;}
.right-box > .language ul > li:first-child{padding-right: 6px;}
.right-box > .language ul > li:first-child::before{
    position: absolute;content: '';width: 1px;height: 8px;background-color: rgba(255, 255, 255, .4);right: 0;top: 60%;transform: translateY(-60%);
}
#header:hover .right-box > .language ul > li:first-child::before{
    background-color: rgba(0, 0, 0, .4);
}
.right-box > .language ul > li:last-child{padding-left: 6px;}
.right-box > .language ul > li a{text-decoration: none;font-size: 12px;font-weight: 500;color: rgba(255, 255, 255, .5);}
.right-box > .language ul > li:last-child:hover a{
    color: #ffffff;
}
.right-box > .language ul > li.on> a{
    color: #ffffff;
}
.right-box .cbtn{
    position: relative; display: block; width: 100px; height: 33px; text-align: center;margin-right: 30px;z-index: 100; color: #ffffff;margin-top: -2px; border-radius: 100px;
    border: 1px solid #fff ;
    box-sizing: border-box;
}
.right-box .cbtn >p{
    font-size: 12px; margin-top: 8px;
}
.right-box .cbtn>.bg{
    width: 100px; height: 33px; position: absolute;
}
.right-box .cbtn:hover{
    background-color: #e8440a;
    transition: all 0.4s;
    border: 1px solid #e8440a !important;
}
.right-box .cbtn:hover p{
    color: #ffffff !important;
}


/* 모바일 header */
.gnb-area{
    display: none;position: fixed;left: 0; top: 0;z-index: 50;
}

.gnb-nav.pc{display: flex;align-items: center;background-color: transparent;height: 5vh; justify-content: flex-start;left: 38%;position: relative;margin-top: 2.5%;}
.gnb-nav.pc:hover>.right-box>p{color: #000;}
.gnb-nav.pc:hover>.depth1>a{color: #000;}
.gnb-nav.pc>.depth1{color: #111;text-transform: uppercase;border: none;padding: 0;position: relative;margin: 0 1.5vw;height: 127px;
display: flex;align-items: center;}
.gnb-nav.pc>.depth1 a{text-decoration: none;color: #fff;font-size: 17px;font-weight: 500;}
.gnb-nav.pc > li > ul{border: none;}
.gnb-nav.pc>li:hover>a {border-bottom: 2px solid black;display: inline;}
.gnb-nav.pc .depth1 > .dept2-wrap{display: none;position: absolute;top: 100%;left: 0;z-index: 1001;}
.gnb-nav.pc .depth1:hover > .dept2-wrap > .gnb-depth2{display: flex;justify-content: center;margin-bottom: -10%;}
.gnb-nav.pc .depth1 > .dept2-wrap > .gnb-depth2 li{margin-right: 30px;font-size: 17px;}
.gnb-nav.pc .depth1 > .dept2-wrap > .gnb-depth2 li:hover{font-weight: 600;}
.gnb-nav.pc .depth1:hover .dept2-wrap{display: flex;flex-direction: row;padding: 0;margin: 0;list-style: none;position: absolute;}
.gnb-nav.pc .depth1:hover .dept2-wrap>.gnb-depth2{width: 800px;display: flex;justify-content: flex-start;align-items: center;position: absolute;}
.headbg{background-color: #ffffff;width: 100%;height: 150px;display: none;position: fixed;z-index: 40;}
.gnb-nav > .depth1:nth-child(1){border-top: 1px solid #c3c3c3;}
.gnb-nav .depth1 a{font-size: 26px;color: #111;font-weight: 700;display: block;position: relative;}
.header-scrolled .gnb-nav .depth1 a{color: #111;}
.gnb-nav .depth1 > .dept2-wrap{display: none;}
.gnb-depth2 li{font-size: 16px;font-weight: 400;color: #333;margin-bottom: 5px;}

.gnb-nav.pc .depth1 > .dept2-wrap{display: none;position: absolute;top: 100%;left: 0;
}

/* 모바일 영역 */
.gnb-nav > .depth1{border-bottom: 1px solid  #c3c3c3;padding: 4vw 0;padding-left: 3vw; cursor: pointer;}
.main_visual{width: 100%;height: 100vh;background-size: cover;overflow: hidden;}
#container{position: relative;}
#sec1{position: relative;}
#container .titlewrap{position: absolute;width: 100%; top: 35%;left: 40%;transform: translate(-40%,-35%);}
#container .titlewrap h3{color: #ffffff;font-weight: 700;}
#container .titlewrap div p{color: #ffffff;font-weight: 300;}
.gnb-depth2 li:hover{font-weight: 600;}
